<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>seigisecurecontact</name>
            <displayName><![CDATA[Zabezpieczenie Fofmularza Kontaktowego]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Zabezpiecz formularz kontaktowy z Google ReCaptcha]]></description>
            <author><![CDATA[SEIGI Grzegorz Zawadzki]]></author>
            <tab><![CDATA[frontend]]></tab>
	<confirmUninstall>Jesteś pewien, ze chcesz usunąć te informacje?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>